DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE_NAME"
NUXT_SESSION_PASSWORD="yourpassword"

ADMIN_EMAIL=admin@domainkamu.com
ADMIN_PASSWORD=passwordku_yang_kuat

DEMO_MODE=false
NUXT_PUBLIC_DEMO_MODE=false
